@import "utils/vars";
@import "utils/reset";

.form_wrapper {
    max-width: 770px;
    margin: 0 auto;
}

.form_description {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    color: $purple-color;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form_container {
    padding: 20px;
    border-radius: 10px;
    background-color: $purple-color-100;
    margin-bottom: 20px;

    h2 {
        font-size: 1.6em;
        font-weight: 600;
        color: white;
    }

    ::placeholder {
        color: $purple-color;
    }

    input {
        width: 70%;
    }

    textarea {
        height: 115px;
        margin-top: 20px;
        font-size: 17px;
    }

    select {
        padding: 14px 12px;
        border-radius: 10px;
        color: $purple-color;
    }
}

.form_lists {
    margin-top: 20px;

    li {
        margin-top: 5px;
    }

    input {
        padding: 8px 13px;
        border-radius: 5px;
        width: 100%;
    }
    label {
        font-weight: 600;
        color: white;
    }
}

.form_radio {
    width: 5% !important;
    transform: scale(1.4);
    accent-color: $purple-color;
}

.circle {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
}

.square {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: white;
}

.form_btn {
    text-align: center;
    width: 100%;
    color: $purple-color;
    font-weight: 600;
    margin-top: 20px;
    padding: 8px 18px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    &:hover {
        box-shadow: none;
    }

    &:active {
        color: $purple-color-100;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }
    &:disabled {
        cursor: auto;
        box-shadow: none;
        color: $purple-color-100;
    }
}

.q_del {
    margin-left: 10px;
    cursor: pointer;
}

.form_counter {
    width: 100px;
    padding-top: 8px;
    color: white;
    font-weight: 600;
    text-align: right;
}

.form_header {
  display: flex;
  justify-content: space-between;
}

.answer_string {
    margin-top: 15px;
    padding: 10px;
    min-height: 43px;
    background-color: white;
    color: $purple-color;
    border-radius: 15px;
}
